* {
    box-sizing: border-box;
}

.box {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: red;
    color: white;
}
.box {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: #08ff00;
    color: white;
}

.box {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: #0051ff;
    color: white;
}
.box {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: #ffd500;
    color: white;
}

